.env-title{
    font-weight: bold;
}

span.right-tag{
	position: absolute;
	right: 0;
}

blockquote.theorem{
	background-color: #f4fcff;
	border-color: #a0e0ff;
}

blockquote.lemma{
	background-color: #f4fcff;
	border-color: #a0e0ff;
}

blockquote.proposition{
	background-color: #f4fcff;
	border-color: #a0e0ff;	
}

blockquote.corollary{
	background-color: #f4fcff;
	border-color: #a0e0ff;	
}

blockquote.definition{
	background-color: #fffdf0;
	border-color: #ffd880;	
}

blockquote.remark{
	background-color: #f2faf2;
	border-color: #a0e0a0;
}

blockquote.example{
	background-color: #f2faf2;
	border-color: #a0e0a0;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.proof-content::after{
	content: "Q.E.D.";
	font-weight: bolder;
	display: block;
	float: right;
}